.row
  .col-auto
    = form_for @task do |form|
      - if @task.errors.any?
        %samp#error_explanation
          %details{:open => ""}
            %summary
              = pluralize(@task.errors.count, "error")
              prohibited
              this task from being saved:
            %ul
              - @task.errors.full_messages.each do |msg|
                %li= msg
      %p
        = form.label :title
        %br/
        = form.text_field :title
      %p
        = form.label :due_date
        %br/
        = form.datetime_select :due_date  
      %p
        = form.label :description
        %br/
        = form.text_area :description
      %p
        = link_to (content_tag :button, 'Cancel', class: 'btn btn-sm btn-light'), tasks_path
        = form.submit 'Save Task', class: 'btn btn-sm btn-success' 
